/* Global variables. */ 
:root {
    /* Set sans-serif & mono fonts */
    --sans-font: "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;

    /* Boxen und Kästen */
    --standard-border-radius: 5px;
    --border-width: 1px;

    /* Dark theme */
    --bg: #292929;
    --bg-header: #222222;
    --bg-hover: #662900;
    --text: #dcdcdc;
    --text-alt: #7a7a7a;
    --accent: #ff4c4c;
    --accent-hover: #ffe099;
}

/*
header {
  text-align:center;
  border-bottom: #646464 solid;
  background-color: var(--bg);   
  padding: 1rem;
}
*/


.nav {
  display: flex;
  justify-content: space-between; /* oder: space-around | space-evenly */
  align-items: center;
  gap: 1rem;                       /* optionaler Abstand */
  padding: 0.5rem 1rem;            /* Innenabstand für Luft */
    border-bottom: #646464 solid;

}

.nav a { text-decoration: none; }

@media (max-width: 600px) {
  .nav {
    flex-direction: column;   /* statt Reihe → Spalte */
    align-items: flex-start;  /* Links linksbündig */
    gap: 0.5rem;
  }
}



body {
    color: var(--text); 
    background-color: var(--bg);
    font-family: var(--sans-font) ;
    font-size: 1.15rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr min(45rem, 90%) 1fr;
    margin: 0;
}
body > * {
    grid-column: 2;
}

/* Bilder über ganze Breite. */
img{
    width: 100%;
}

H1, H2, H3 {
    color: var(--accent);
/* Abstand Überschrift -- Absatz */
}
H1, H2, H3, H4 {
    margin-bottom: 0px;
}

a {
    color: var(--accent);
    display: inline-block;
    transition: transform 0.5s;
    text-decoration: underline; /* optional: Unterstreichen beim Hovern */
}
a:hover {
    color: var(--accent-hover);
    transform: scale(1.1);
}

.impressum {
  color: var(--text-alt); 
}